@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*** General ***/
.html, .body {
    height: auto;
    width : 100%;
}

/*** Navbar ***/
.navbar {
    background-color: #222529;
    font-family     : "Montserrat", sans-serif;
    font-size       : 16px;
    font-weight     : 300;
 }

.navbar .navbar-img {
    height: 20px;
    width : 20px;
}

 .navbar .buttonLenguage {
    background-color: transparent;
    border          : transparent;
}

.navbar .buttonNavFirst {
    padding-left : 10px;
    padding-right: 10px;
}

#buttonNavFirst {
	background-color: #D4E4F2;
	border          : 1.5px 
                      solid 
                      #D4E4F2;
    border-radius   : 30px;
	color           : #222529;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 15px;
    padding         : 7px 15px;
}

#buttonNavFirst:hover {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #ffffff;
}

#buttonNavSecond {
	background-color: transparent;
	border          : 1.5px 
                      solid 
                      #222529;
	color           : #ffffff;
    font-weight     : 600;
    font-size       : 15px;
}

#buttonNavSecond:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #D4E4F2;
    color           : #222529;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color          : white;
    font-weight    : 600;
    text-decoration: overline 
                     #D4E4F2;
}

.navbar .navbar-text {
    color      : white;
    font-family: 'Secular One', sans-serif;
    font-size  : 20px;
}

.navbar .navbar-logo {
    width: 200px;
}

/*** Home ***/
.home {
    background-image   : url(../assets/home.png );
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    min-height         : 100vh; 
}

.home .home-div{
    text-align : center;
    padding-top: 200px;
}

.home-img {
    text-align : center;
    width      : 900px;
}

/*** Info ***/
.info .infoText {
    text-align : center;
    padding-top: 100px;
}

.info h1 {
    font-family   : "Montserrat", sans-serif;
    font-weight   : 800;
    font-size     : 70px;
    padding-bottom: 50px;
}

.info p {
    font-family: "Montserrat", sans-serif;
    font-size  : 25px;
    font-weight: 300;
}

.info .fa-quote-left, .fa-quote-right{
    color    : #222529;
    font-size: 30px;
}

.info .info-img {
    padding-top: 50px ;
    width      : 700px;
}

/*** Schedule ***/
.schedule {
    background-color: #edf2f4;
    text-align : center;
}

.schedule h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 50px;
}

.schedule p {
    font-family: "Montserrat", sans-serif;
    font-size  : 22px;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.schedule button {
    background-color: #222529;
	border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 50%;
	color           : #edf2f4;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 25px;
    height          : 85px;
    width           : 85px;
}

.schedule button:hover {
    background-color: #edf2f4;
	border          : 3px 
                      solid 
                      #222529;
    border-radius   : 50%;
	color           : #222529;
}

/*** News ***/

.news h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 30px;
    text-align : center;
}

.news p {
    font-family: "Montserrat", sans-serif;
    font-size  : 22px;
    font-weight: 300;
    text-align : center;
}
 
/*** Contact ***/
.contact {
    background-image   : url(../assets/Contact.png);
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    min-height         : 85vh; 
}

.contact h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 30px;
    text-align : center;
}

.contact p {
    font-family: "Montserrat", sans-serif;
    font-size  : 22px;
    font-weight: 300;
    text-align : center;
}

.contact .container {
    background-color: #ffffff;
    border-radius   : 30px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position        : relative;
    top             : 50px;
}

.contact form {
    padding-left : 100px;
    padding-right: 100px;
}

.contact label {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size  : 18px;
    padding-top: 20px;
}

.contact input {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.contact textarea {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

#contactButton {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 30px;
	color           : #ffffff;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 15px;
    padding         : 7px 15px;
    
}

#contactButton:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #222529;
}

/*** Footer ***/
.footer {
    background-color: #222529;
}
.footer img {
    padding-bottom: 50px;
    padding-top   : 50px;
    width         : 300px;
}

.footer h1 {
    color      : #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size  : 30px;
    padding-top: 50px;
}

.footer p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size  : 18px;
    font-weight: 300;
 }

 .footer .fa-brands {
    color: #ffffff;
    padding-right: 20px;
 }
