/*****************
* GOSLÈTICS CSS **
*****************/


/*** 0.General ***/
/*** Font styles ***/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*** General settings ***/
.html, .body {
    height: auto;
    width : 100%;
}

/*** index.html ***/

/*** 1.Navbar ***/
.navbar {
    background-color: #222529;
    font-family     : "Montserrat", sans-serif;
    font-size       : 20px;
    font-weight     : 300;
}

/*** Logo settings ***/
.navbar .navbar-logo {
    width: 200px;
}

/*** Lenguage button settings ***/
.navbar .navbar-img {
    height: 30px;
    width : 30px;
}
.navbar .buttonLenguage {
    background-color: transparent;
    border          : transparent;
}

.navbar .navbar-nav {
    float: right;
}

/*** Links settings ***/
.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color          : white;
    font-weight    : 600;
    text-decoration: overline 
                     #D4E4F2;
}

/*** Incription button settings ***/
.navbar .buttonNavFirst {
    padding-left : 10px;
    padding-right: 10px;
}

.navbar #buttonNavFirst {
	background-color: #D4E4F2;
	border          : 1.5px 
                      solid 
                      #D4E4F2;
    border-radius   : 30px;
	color           : #222529;
    display         : inline-block;
	font-weight     : 600;
    padding         : 7px 15px;
}

.navbar #buttonNavFirst:hover {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #ffffff;
}

/*** Client button settings ***/
.navbar #buttonNavSecond {
	background-color: transparent;
	border          : 1.5px 
                      solid 
                      #222529;
	color           : #ffffff;
    font-weight     : 600;
}

.navbar #buttonNavSecond:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #D4E4F2;
    color           : #222529;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        font-size: 15px;
    }

    .navbar .navbar-logo {
        width: 150px;
    }

    .navbar .navbar-img {
        height: 20px;
        width : 20px;
    }
}

/* Home Small screen */
@media only screen and (max-width: 767px) {
    .navbar .buttonNavFirst{
        padding-bottom: 10px;
    }
    
    .navbar .navbar-nav {
        float: left;
    }

    .navbar .lenguageButtons {
        float      : right;
        padding-top: 10px;
    }
}

/*** 3.Home ***/
.home {
    background-image   : url(../assets/home.png );
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    min-height         : 100vh; 
}

/*** Slogan settings ***/
.home .home-div{
    text-align : center;
    padding-top: 250px;
}

.home-img {
    text-align : center;
    width      : 900px;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-img {
        width: 700px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-img {
        width: 550px;
    }
}

/* Home XSmall screen */
@media only screen and (min-width: 450px) and (max-width: 575px) {
    .home-img {
        width: 450px;
    }
}

 /* Home Phone screen */
@media only screen and (max-width: 449px) {
    .home .home-div{
        padding-top: 150px;
    }

    .home-img {
        width: 300px;
    }
}

/*** 4.Info ***/
/*** Text settings ***/
.info .infoText {
    text-align : center;
    padding-top: 100px;
}

.info h1 {
    font-family   : "Montserrat", sans-serif;
    font-weight   : 800;
    font-size     : 70px;
    padding-bottom: 50px;
}

.info p {
    font-family: "Montserrat", sans-serif;
    font-size  : 25px;
    font-weight: 300;
}

/*** settings***/
.info .fa-quote-left, .fa-quote-right{
    color    : #222529;
    font-size: 30px;
}

.info .info-img {
    padding-top: 50px ;
    width      : 700px;
}

/* Home Large screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .info h1 {
        font-size: 60px;
    }
    
    .info p {
        font-size: 20px;
    }

    .info .info-img {
        padding-top: 40px ;
        width      : 500px;
    }
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .info .infoText {
        padding-top: 80px;
    }

    .info h1 {
        font-size: 45px;
    }
    
    .info p {
        font-size: 16px;
    }

    .info .fa-quote-left, .fa-quote-right{
        font-size: 20px;
    }
    
    .info .info-img {
        padding-top: 40px ;
        width      : 400px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .info h1 {
        font-size: 50px;
        padding-bottom: 40px;
    }
    
    .info p {
        font-size: 15px;
    }

    .info .fa-quote-left, .fa-quote-right{
        font-size: 20px;
    }
    
    .info .info-img {
        padding-top: 40px ;
        width      : 400px;
    }

    .info .fa-quote-left, .fa-quote-right{
        font-size: 15px;
    }
    
    .info .info-img {
        width: 300px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .info h1 {
        font-size: 45px;
        padding-bottom: 20px;
    }
    
    .info p {
        font-size: 13px;
    }

    .info .fa-quote-left, .fa-quote-right{
        font-size: 15px;
    }
    
    .info .info-img {
        padding-top: 20px ;
        width      : 300px;
    }

    .info .fa-quote-left, .fa-quote-right{
        font-size: 15px;
    }
    
    .info .info-img {
        width: 300px;
    }
}

/*** 5.Schedule ***/
.schedule {
    background-color: #edf2f4;
    text-align      : center;
}

/*** Text settings ***/
.schedule h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 50px;
}

.schedule p {
    font-family   : "Montserrat", sans-serif;
    font-size     : 25px;
    font-weight   : 300;
    padding-top   : 30px;
    padding-bottom: 30px;
}

/*** Day buttons settings ***/
.schedule button {
    background-color: #222529;
	border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 50%;
	color           : #edf2f4;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 16px;
    height          : 85px;
    width           : 85px;
}

.schedule button:hover {
    background-color: #edf2f4;
	border          : 3px 
                      solid 
                      #222529;
    border-radius   : 50%;
	color           : #222529;
}

/*** Schedule table header ***/
.schedule .col-3 {
    background-color: #222529;
    border          : 5px 
                      solid 
                      #edf2f4;
    color           : #edf2f4;
    font-family     : "Montserrat", sans-serif;
    font-size       : 22px;
    font-weight     : 300;
}

/*** Schedule table info ***/
.schedule .col {
    background-color: #ffffff;
    border          : 5px 
                      solid 
                      #edf2f4;
    font-family     : "Montserrat", sans-serif;
    font-size       : 20px;
    font-weight     : 300;
}

/*** Schedule table info ***/
.schedule .activity:hover {
    font-weight: 600;
}

/*** Schedule table text settings ***/
.schedule .activityName {
    font-family: "Montserrat", sans-serif;
    font-size  : 22px;
    font-weight: 600;
}

.schedule .activityDescription {
    font-family: "Montserrat", sans-serif;
    font-size  : 18px;
    font-weight: 300;
}

.schedule .activityParticinats {
    font-family: "Montserrat", sans-serif;
    font-size  : 18px;
    font-weight: 600;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .schedule h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .schedule p {
        font-size     : 20px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }

    .schedule .col-3 {
        font-size: 18px;
    }

    .schedule .col {
        font-size: 18px;
    }

    .schedule .activityName {
        font-size: 20px;
    }
    
    .schedule .activityDescription {
        font-size: 18px;
    }
    
    .schedule .activityParticinats {
        font-size: 18px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .schedule h1 {
        font-size  : 50px;
        padding-top: 80px;
    }

    .schedule p {
        font-size     : 18px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }

    .schedule .col-3 {
        font-size: 13px;
    }

    .schedule button {
        font-size       : 12px;
        height          : 65px;
        width           : 65px;
    }

    .schedule .col {
        font-size: 13px;
    }

    .schedule .activityName {
        font-size: 18px;
    }
    
    .schedule .activityDescription {
        font-size: 15px;
    }
    
    .schedule .activityParticinats {
        font-size: 15px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .schedule h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .schedule p {
        font-size     : 15px;
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    .schedule .col-3 {
        font-size: 10px;
    }

    .schedule button {
        font-size       : 10px;
        height          : 40px;
        width           : 40px;
    }

    .schedule .col {
        font-size: 10px;
    }

    .schedule .activityName {
        font-size: 15px;
    }
    
    .schedule .activityDescription {
        font-size: 12px;
    }
    
    .schedule .activityParticinats {
        font-size: 12px;
    }
}

/*** 6.News ***/
/*** Text settings ***/
.news h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 30px;
    text-align : center;
}

.news p {
    font-family: "Montserrat", sans-serif;
    font-size  : 25px;
    font-weight: 300;
    text-align : center;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .news h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .news p {
        font-size     : 20px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .news h1 {
        font-size  : 50px;
        padding-top: 80px;
    }

    .news p {
        font-size     : 18px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .news h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .news p {
        font-size     : 15px;
        padding-top   : 15px;
        padding-bottom: 15px;
    }
}

/*** 7.Contact ***/
.contact {
    background-image   : url(../assets/Contact.png);
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    min-height         : 85vh; 
}

/*** Text settings ***/
.contact h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size  : 60px;
    padding-top: 30px;
    text-align : center;
}

.contact p {
    font-family: "Montserrat", sans-serif;
    font-size  : 25px;
    font-weight: 300;
    text-align : center;
}

/*** Card settings***/
.contact .container {
    background-color: #ffffff;
    border-radius   : 30px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position        : relative;
    top             : 50px;
}

/*** Form settings***/
.contact form {
    padding-left : 100px;
    padding-right: 100px;
}

.contact label {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size  : 18px;
    padding-top: 20px;
}

.contact input {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.contact textarea {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.contact #contactButton {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 30px;
	color           : #ffffff;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 15px;
    padding         : 7px 15px;
}

.contact #contactButton:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #222529;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact {
        min-height: 90vh; 
    }

    .contact h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .contact p {
        font-size     : 20px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }

    .contact label {
        padding-top: 10px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact {
        min-height: 90vh; 
    }

    .contact h1 {
        font-size  : 50px;
        padding-top: 80px;
    }

    .contact p {
        font-size     : 18px;
        padding-top   : 20px;
        padding-bottom: 20px;
    }

    .contact label {
        padding-top: 10px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .contact h1 {
        font-size  : 45px;
        padding-top: 80px;
    }

    .contact p {
        font-size     : 15px;
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    .contact .container {
        border-radius: 0px;
    }

    .contact form {
        padding-left : 30px;
        padding-right: 30px;
    }

    .contact label {
        font-size  : 15px;
        padding-top: 5px;
    }
    
    .contact input {
        font-size: 12px;
    }
    
    .contact textarea {
        font-size: 12px;
    }
}

/*** 8.Footer ***/
.footer {
    background-color: #222529;
}

/*** Logo settings ***/
.footer img {
    padding-bottom: 20px;
    padding-top   : 20px;
    width         : 300px;
}

/*** Text settings ***/
.footer h1 {
    color      : #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size  : 30px;
    padding-top: 20px;
}

.footer p {
    color      : #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size  : 18px;
    font-weight: 300;
}

.footer .footerSpacerFirst{
    padding-top: 50px;
}

.footer .footerSpacerSecond{
    padding-top: 30px;
}

/*** Social media icons ***/
.footer .fa-brands {
    color        : #ffffff;
    size: 100px;
    padding-right: 20px;
}

/* Home Large screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer img {
        width: 250px;
    }

    .footer h1 {
        font-size: 25px;
    }
    
    .footer p {
        font-size: 16px;
    }

    .footer .fa-brands {
        padding-right: 16px;
    }

    .footer .footerSpacerFirst{
        padding-top: 40px;
    }
    
    .footer .footerSpacerSecond{
        padding-top: 20px;
    }
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer img {
        padding-bottom: 5px;
        width         : 200px;
    }

    .footer h1 {
        font-size: 22px;
    }
    
    .footer p {
        font-size: 14px;
    }

    .footer .fa-brands {
        padding-right: 12px;
    }

    .footer .footerSpacerFirst{
        padding-top: 10px;
    }
    
    .footer .footerSpacerSecond{
        padding-top: 0px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer img {
        padding-bottom: 5px;
        width         : 150px;
    }

    .footer h1 {
        font-size: 18px;
    }
    
    .footer p {
        font-size: 12px;
    }

    .footer .fa-brands {
        padding-right: 0px;
        padding-bottom: 50px;
    }

    .footer .footerSpacerFirst{
        padding-top: 0px;
    }
    
    .footer .footerSpacerSecond{
        padding-top: 0px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .footer img {
        padding-bottom: 5px;
        width         : 200px;
    }

    .footer h1 {
        font-size: 25px;
    }
    
    .footer p {
        font-size: 15px;
    }

    .footer .fa-brands {
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .footer .footerSpacerFirst{
        padding-top: 0px;
    }
    
    .footer .footerSpacerSecond{
        padding-top: 0px;
    }
}

/*** areaClients.html ***/

/*** 8.LogIn ***/
/*** Background ***/
 .login {
    background-image   : url(../assets/Login.png);
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    min-height         : 100vh;
}

/*** Card settings***/
.login .container {
    background-color: #ffffff;
    border-radius   : 30px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position        : relative;
    top             : 50px;
    width           : 50%;
}

/*** Logo settings ***/
.login .logoLogin {
    padding-top: 50px;
    text-align : center;
}

.login .logo-Login {
    width: 300px;
}

/*** Text settings ***/
.login h1 {
    font-family: "Montserrat", sans-serif;
    font-size  : 40px;
    font-weight: 800;
    padding-top: 30px;
    text-align : center;
}

.login p {
    font-family: "Montserrat", sans-serif;
    font-size  : 15px;
    font-weight: 300;
    text-align : center;
}

/*** Form settings ***/
.login form {
    padding-left : 100px;
    padding-right: 100px;
}

.login label {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size  : 18px;
    padding-top: 20px;
}

.login input {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.login #contactButton {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 30px;
	color           : #ffffff;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 20px;
    padding         : 7px 15px;
}

.login #contactButton:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #222529;
}

.login #buttonRetornHome {
    background-color: transparent;
    border          : transparent;
 	font-family     : "Montserrat", sans-serif;
    font-size       : 15px;
    font-weight     : 300;
    text-align      : center;
}

.login #buttonRetornHome:hover {
    font-weight          : 600;
    text-decoration-line : underline;
    text-decoration-style: solid;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login .container {
        width: 70%;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .login .container {
        width: 90%;
    }

    .login .logo-Login {
        width: 200px;
    }

    .login h1 {
        font-size  : 30px;
        padding-top: 20px;
    }
    
    .login p {
        font-size: 12px;
    }

    .login label {
        font-size  : 15px;
        padding-top: 20px;
    }
    
    .login input {
        font-size: 12px;
    }
    .login #contactButton {
        font-size: 15px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .login .container {
        width: 95%;
    }

    .login .logo-Login {
        width: 200px;
    }

    .login h1 {
        font-size  : 30px;
        padding-top: 20px;
    }
    
    .login p {
        font-size: 12px;
    }

    .login form {
        padding-left : 50px;
        padding-right: 50px;
    }

    .login label {
        font-size  : 15px;
        padding-top: 20px;
    }
    
    .login input {
        font-size: 12px;
    }
    .login #contactButton {
        font-size: 15px;
    }
}

/*** userDashboard.html ***/

/*** 9.Sidebar ***/
.dashborad {
    font-family: "Montserrat", sans-serif;
}

.dashborad hr {
    border-width: 1px;
    width       : 100%;
}

.dashborad .menu {
    font-size  : 25px;
    font-weight: 600;
}

.dashborad .nav-link {
    font-size  : 16px;
    font-weight: 300;
}

.dashborad .nav-link:hover {
    font-weight: 600;
}

.dashborad .dropdown-toggle:hover {
    font-weight: 600;
}

/*** 10.Content***/
/*** Logo settings ***/
.dashborad .dashborad-logo {
    padding-bottom: 15px;
    padding-top   : 15px;
    width         : 200px;
}

/*** Topbar settings ***/
.dashborad .top {
    height    : 80px;
    margin    : 0%;
    text-align: center;
    width     : 100%;
}

/*** Options settings ***/
.dashborad .options {
    background-color: #f6f6f6;
    min-height      : 100vh;
    text-align      : center;
}

/*** Spacer settings ***/
.dashborad .content .sapcer {
    background-image   : url(../assets/Dashboard.png);
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    border-radius      : 0px;
    box-shadow         : 0 4px 8px 0 rgba(39, 38, 38, 0.2), 
                         0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height             : 60px;
    position           : relative;
    top                : 50px;
}

/*** Text settings ***/
.dashborad h1 {
    color      : #222529;
    font-family: "Montserrat", sans-serif;
    font-size  : 40px;
    font-weight: 600;
    padding-top: 50px;
}

.dashborad h2 {
    color         : #222529;
    font-family   : "Montserrat", sans-serif;
    font-size     : 30px;
    font-weight   : 300;
    padding-bottom: 50px;
    padding-top   : 100px;
}

.dashborad .content h3 {
    color         : #222529;
    font-family   : "Montserrat", sans-serif;
    font-size     : 20x;
    font-weight   : 300;
    padding-bottom: 50px;
    padding-top   : 50px;
}

/*** Button card settings ***/
.dashborad .content .buttoncard {
    background-color: #ffffff;
    border-radius   : 10px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin          : 5px;
}

.dashborad .content .buttoncard:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 
                0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.dashborad .content .buttoncard a {
    color          : #222529;
    text-decoration: none;
}

.dashborad .content .boton-icon {
    background-color: #D0E4F4;
}

.dashborad .content .options i {
    padding: 70px;
}

/* Home XLarge-Large screen */
@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .dashborad .menu {
        font-size: 22px;
    }
    
    .dashborad .nav-link {
        font-size: 13px;
    }

    .dashborad h1 {
        font-size: 35px;
    }

    .dashborad h2 {
        font-size: 25px;
    }

    .dashborad .content h3 {
        font-size: 19px;
    }
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dashborad .menu {
        font-size: 22px;
    }
    
    .dashborad .nav-link {
        font-size: 12px;
    }

    .dashborad h1 {
        font-size: 32px;
    }

    .dashborad h2 {
        font-size: 22px;
    }

    .dashborad .content h3 {
        font-size: 22px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .dashborad .menu {
        font-size: 22px;
    }
    
    .dashborad .nav-link {
        font-size: 13px;
    }

    .dashborad h1 {
        font-size: 30px;
    }

    .dashborad h2 {
        font-size: 20px;
    }

    .dashborad .content h3 {
        font-size: 20px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .dashborad .menu {
        font-size: 22px;
    }
    
    .dashborad .nav-link {
        font-size: 13px;
    }

    .dashborad h1 {
        font-size: 30px;
    }

    .dashborad h2 {
        font-size: 20px;
    }

    .dashborad .content h3 {
        font-size: 20px;
    }
}

/*** useManagement.html ***/

/*** 11.userContent ***/
.dashborad .userContent .sapcer{
    background-color: #D0E4F4;
    border-radius      : 0px;
    box-shadow         : 0 4px 8px 0 rgba(39, 38, 38, 0.2), 
                         0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height             : 60px;
    position           : relative;
    top                : 50px;
}

.dashborad .userContent .spacerContent {
    font-size     : 25px;
    font-weight   : 600;
    padding-bottom: 10px;
    padding-top   : 10px;
}

.dashborad .userContent h2 {
    color         : #222529;
    font-family   : "Montserrat", sans-serif;
    font-size     : 20px;
    font-weight   : 300;
    padding-bottom: 50px;
    padding-top   : 100px;
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .dashborad .userContent .spacerContent {
        font-size: 18px;
    }
    .dashborad .userContent h1 {
        font-size: 20px;
    }
}

/*** dogManagement.html ***/

/*** 12.dogContent ***/
/*** Spacer settings ***/
.dashborad .dogContent .sapcer{
    background-color: #D0E4F4;
    border-radius      : 0px;
    box-shadow         : 0 4px 8px 0 rgba(39, 38, 38, 0.2), 
                         0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height             : 60px;
    position           : relative;
    top                : 50px;
}

.dashborad .dogContent .spacerContent {
    font-size     : 25px;
    font-weight   : 600;
    padding-bottom: 10px;
    padding-top   : 10px;
}

/*** Text settings ***/
.dashborad .dogContent h2 {
    color         : #222529;
    font-family   : "Montserrat", sans-serif;
    font-size     : 20px;
    font-weight   : 300;
    padding-bottom: 50px;
    padding-top   : 100px;
}

/*** Dog options settings ***/
.dashborad .dogContent .dogSchedule {
    text-align: left;
    width     : 100%;
}

.dashborad .dogContent i {
    padding-left: 10px;
}

.dashborad .dogContent a {
    background-color: #D0E4F4;
    border          : 5px 
                      solid 
                      #f6f6f6;
    color           : #222529;
    font-size       : 20px;
    font-weight     : 300;
    height          : 50px;
    padding-top     : 10px;
}

/*** Form settings ***/
.dashborad .dogContent .w-100 {
    background-color: #ffffff;
}

.dashborad .dogContent .dogForm {
    padding-bottom: 20px;
    padding-top   : 20px;
    width         : 70%;
    width: 100%;
}

.dashborad .dogContent label {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size  : 18px;
    padding-top: 20px;
}

.dashborad .dogContent input {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.dashborad .dogContent textarea {
    border       : none;
    border-bottom: 1px solid #2c2d2e;
    border-radius: 0px;
    font-family  : "Montserrat", sans-serif;
    font-weight  : 300;
    font-size    : 15px;
}

.dashborad .dogContent #contactButton {
	background-color: #222529;
    border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 30px;
	color           : #ffffff;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 20px;
    padding         : 7px 15px;
}

.dashborad .dogContent #contactButton:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #222529;
}

/*** Query Form settings ***/
.dashborad .dogContent #cercaButton {
    background-color: #222529;
    border          : 1.5px 
                      solid 
                      #222529;
    border-radius   : 30px;
	color           : #ffffff;
    display         : inline-block;
	font-family     : "Montserrat", sans-serif;
    font-weight     : 600;
    font-size       : 12px;
    padding         : 7px 12px;
}

.dashborad .dogContent #cercaButton:hover {
	background-color: #D4E4F2;
    border          : 1.5px 
                      solid 
                      #ffffff;
    color           : #222529;
}
   
.dashborad .dogContent .headers .col{
    background-color: #222529;
    border          : 5px 
                      solid 
                      #ffffff;
    color           : #222529;
    color           : #edf2f4;
    font-size       : 14px;
    font-weight     : 600;
    text-align      : center;
}

.dashborad .dogContent .output .col{
    background-color: #F6F6F6;
    border          : 5px 
                      solid 
                      #ffffff;
    color           : #222529;
    font-size       : 14px;
    font-weight     : 300;
    text-align      : center;
}

.dashborad .dogContent .output .action:hover{
    font-weight: 600;
}

/* Home Medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dashborad .dogContent label {
        font-size: 15px;
    }

    .dashborad .dogContent #contactButton {
        font-size: 15px;
    }
}

/* Home Small screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .dashborad .dogContent label {
        font-size: 13px;
    }

    .dashborad .dogContent #contactButton {
        font-size: 13px;
    }

    .dashborad .dogContent input {
        font-size: 13px;
    }

    .dashborad .dogContent textarea {
        font-size: 13px;
    }

    .dashborad .dogContent .headers .col{
        font-size: 12px;
    }
    
    .dashborad .dogContent .output .col{
        font-size: 12px;
    }
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .dashborad .dogContent .spacerContent {
        font-size: 18px;
    }
    .dashborad .dogContent h1 {
        font-size: 18px;
    }

    .dashborad .dogContent h2 {
        font-size: 15px;
    }

    .dashborad .dogContent .nav-link {
        font-size: 15px;
    }

    .dashborad .dogContent label {
        font-size: 13px;
    }

    .dashborad .dogContent #contactButton {
        font-size: 13px;
    }

    .dashborad .dogContent input {
        font-size: 13px;
    }

    .dashborad .dogContent textarea {
        font-size: 13px;
    }
}

/*** bookingManagement.html ***/

/*** 13.bookingContent ***/
/*** Spacer settings ***/
.dashborad .bookingContent .sapcer{
    background-color: #D0E4F4;
    border-radius   : 0px;
    box-shadow      : 0 4px 8px 0 rgba(39, 38, 38, 0.2), 
                      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height          : 60px;
    position        : relative;
    top             : 50px;
}

.dashborad .bookingContent .spacerContent {
    font-size     : 25px;
    font-weight   : 600;
    padding-bottom: 10px;
    padding-top   : 10px;
}

/*** Text settings ***/
.dashborad .bookingContent h2 {
    color         : #222529;
    font-family   : "Montserrat", sans-serif;
    font-size     : 20px;
    font-weight   : 300;
    padding-bottom: 50px;
    padding-top   : 100px;
}

/*** Schedule settings ***/
.dashborad .bookingContent .bookingSchedule {
    text-align: left;
    width     : 100%;
}

.dashborad .bookingContent a {
    background-color: #D0E4F4;
    border          : 5px 
                      solid 
                      #f6f6f6;
    color           : #222529;
    font-size       : 20px;
    font-weight     : 300;
    height          : 50px;
    padding-top     : 10px;
}

.dashborad .bookingContent .headers .col-2 {
    background-color: #222529;
    border          : 5px 
                      solid 
                      #ffffff;
    color           : #222529;
    color           : #edf2f4;
    font-size       : 14px;
    font-weight     : 600;
    text-align      : center;
}

.dashborad .bookingContent .headers .col-3 {
    background-color: #222529;
    border          : 5px 
                      solid 
                      #F6F6F6;
    color           : #222529;
    color           : #edf2f4;
    font-size       : 14px;
    font-weight     : 600;
    text-align      : center;
}

.dashborad .bookingContent .col-1, .col-2, .col-3 {
    background-color: #ffffff;
    border          : 5px 
                      solid 
                      #F6F6F6;
    color           : #222529;
    font-size       : 14px;
    font-weight     : 300;
    text-align      : center;
}

.dashborad .bookingContent .col-1:hover {
    font-weight: 600;
}

.dashborad .bookingContent i {
    padding-left: 10px;
}

/* Home XSmall screen */
@media only screen and  (max-width: 575px) {
    .dashborad .bookingContent .spacerContent {
        font-size: 18px;
    }
    .dashborad .bookingContent h1 {
        font-size: 18px;
    }

    .dashborad .bookingContent h2 {
        font-size: 15px;
    }

    .dashborad .bookingContent .nav-link {
        font-size: 15px;
    }

    .dashborad .bookingContent label {
        font-size: 13px;
    }

    .dashborad .bookingContent #contactButton {
        font-size: 13px;
    }

    .dashborad .bookingContent input {
        font-size: 13px;
    }

    .dashborad .bookingContent textarea {
        font-size: 13px;
    }
}
